
/* THIS CSS FILE IS FRO THE earth_saving.html WEBPAGE */


@font-face {
    font-family: "SF_PRO";
    src: url(../fonts/sf_pro.OTF);
}

@font-face {
    font-family: "Open_Sans";
    src: url(../fonts/opensans.ttf);
}

@font-face {
    font-family: "Nunito_Bold";
    src: url(../fonts/nunitobold.ttf);
}

@font-face {
    font-family: "Source_Sans_Pro";
    src: url(../fonts/sourcesanspro.ttf);
}

/* background image */

/* background image from https://www.freepik.com/free-vector/flat-jungle-background_13994831.htm */

#forest {
    background-image: url(../photos/bg_forest1.jpg);
	opacity: 100%;
	height: 1080px;
	width: 1920px;
}

/* general rule */

p {
    font-family: "Source_Sans_Pro", Arial, Helvetica;
}

section h1 {
    text-align: left;
}

section p {
    text-align: left;
}

/* top picture */

#greenhand {
    width: 40%;
    display: block;
    margin: auto;
    border-radius: 18px;
    border: 2px solid black;
}

/* opinion on what we can do */

#opiniontittle {
	background-color: rgba(166, 162, 162, 0.5);
	border-radius: 20px;
	padding: 20px;
	margin: 2px;
	transform: translateY(5px);

}

#heading {
	font-family: Nunito_Bold;
	font-size: 50px;
} 



#heading {
    text-align: center;
}

#personal_opinion {
    font-family: SF_PRO;
}

/* plans to help save the earth */

#plans {
    background-color: rgb(245, 222, 179,0.8);
    border-radius: 12px;
    max-width: 540px;
    margin: 1%;
    padding: 0%;
    transform: translateY(-9px);
}

/* button styles */

.btn2 {
    text-align: left;
}

#button2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0cc145;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: SF_PRO;
    transform: translateY(-32px);
    margin: 1em;
}

#button2:hover {
    background-color: rgb(255, 254, 254);
    color: #08890d;
    transition-duration: 0.14s;
}



/* other measures */

.mrbeast {
	background-color: rgb(61, 219, 219, 0.8);
	border-radius: 20px;
	padding: 1%;
	transform: translateY(7px);
	margin: 1%;
}

.mrbeast > h2 {
	font-family: SF_PRO;
}

.mrbeast > p {
	padding: 1px;
}

#teamtrees {
	width: 50%;
	background-color: transparent;
    display: block;
    margin: auto;
}

/* picture from https://simple.wikipedia.org/wiki/Team_Trees */ 

#teamseas {
    width: 40%;
    display: block;
    margin: auto;
}

/* picture from https://en.wikipedia.org/wiki/Team_Seas */

/* personal opinions on saving the earth */

#opinion1, #opinion2, #opinion3 {
	transform: translateY(-20px);
}

/* reducing waste */

.opinion1 {
	background-color: rgb(183, 236, 119);
	border-radius: 20px;
	margin: 10px;
	padding: 8px;
}

.opinion1 > article {
    text-align: left;
    padding: 0.5em;
    font-family: SF_PRO;
}

.opinion1 > article > p {
    text-align: left;
}

#waste_icon {
    width: 60px;
    height: 60px;
    padding-right: 72em;
    transform: translateY(16px);
}

/* image from https://www.flaticon.com/free-icons/waste" title="waste icons" */

/* sustainable transportation */

.opinion2 {
	background-color: rgb(149, 237, 137);
	border-radius: 19px;
	margin: 10px;
	padding: 8px;
}

#bus {
    width: 15%;
    transform: translateY(15px);
}

/* icon from "https://www.flaticon.com/free-icons/transport" title="transport icons" */

.opinion2 > article > h2 {
    text-align: left;
    font-family: SF_Pro;
    padding: 0.5em;
}

.opinion2 > article > p {
    text-align: left;
    padding: 0.6em;
}


/* reuse, reduce, recycle */

.opinion3 {
	background-color: rgb(115, 220, 115);
	border-radius: 20px;
	margin: 10px;
	padding: 9px;
}

.opinion3 > article > h2 {
    text-align: left;
    font-family: SF_PRO;
    padding: 0.5em;
}

.opinion3 > article > p {
    text-align: left;
}

/* picture from https://www.flaticon.com/free-icons/recycle" title="recycle icons" */

#recycle {
    width: 10%;
    transform: translateY(20px);
    margin: 2px;
}



/* plans to save the earth */

#tittle1 {
    text-align: left;
    font-family: SF_PRO;
    padding: 10px;
}

#opinion > #plans > p {
    padding: 2%;
    transform: translateY(-15px);
}

#opinion > p {
    text-align: left;
    padding: 11px;
    transform: translateY(-20px);
}

#opinion > h2 {
    font-family: SF_PRO;
    text-align: left;
    transform: translateX(1px);
    transform: translateY(5px);
    background-color: rgb(245, 222, 179,0.8);
    border-radius: 10px;
    max-width: 540px;
    margin: 1%;
    padding: 10px;
}


/* ------------------------------------------------- */

